CREATE DATABASE TauThuyenVietDB
GO
Use TauThuyenVietDB
GO

CREATE TABLE [AccountCategory] (
  [AccountCategoryID] nvarchar(50) NOT NULL
, [Title] nvarchar(50) NULL
, [Description] nvarchar(4000) NULL
, [Avatar] nvarchar(255) NULL
, [Thumb] nvarchar(255) NULL
, [Status] bit NULL
, [Position] int NULL
);
GO
CREATE TABLE [Account] (
  [Username] nvarchar(50) NOT NULL
, [Password] nvarchar(150) NULL
, [Avatar] nvarchar(255) NULL
, [Thumb] nvarchar(255) NULL
, [FullName] nvarchar(50) NULL
, [Email] nvarchar(255) NULL
, [Mobi] nvarchar(20) NULL
, [Address] nvarchar(255) NULL
, [Gender] bit NULL
, [Status] bit NULL
, [CreateTime] datetime NULL
, [AccountCategoryID] nvarchar(50) NULL
);
GO
CREATE TABLE [ProductMainCategory] (
  [ProductMainCategoryID] int IDENTITY (9,1) NOT NULL
, [Code] nvarchar(50) NULL
, [Title] nvarchar(200) NULL
, [Description] nvarchar(4000) NULL
, [Avatar] nvarchar(255) NULL
, [Thumb] nvarchar(255) NULL
, [Status] bit NULL
, [Position] int NULL
, [CreateTime] datetime NULL
, [CreateBy] nvarchar(50) NULL
);
GO
CREATE TABLE [ProductCategory] (
  [ProductCategoryID] int IDENTITY (42,1) NOT NULL
, [Code] nvarchar(50) NULL
, [Title] nvarchar(200) NULL
, [Description] nvarchar(4000) NULL
, [Avatar] nvarchar(255) NULL
, [Thumb] nvarchar(255) NULL
, [Status] bit NULL
, [Position] int NULL
, [CreateTime] datetime NULL
, [CreateBy] nvarchar(50) NULL
, [ProductMainCategoryID] int NULL
);
GO
CREATE TABLE [Product] (
  [ProductID] int IDENTITY (248,1) NOT NULL
, [Code] nvarchar(50) NULL
, [Title] nvarchar(200) NULL
, [Description] nvarchar(4000) NULL
, [Avatar] nvarchar(255) NULL
, [Thumb] nvarchar(255) NULL
, [Content] ntext NULL
, [Keyword] nvarchar(4000) NULL
, [ImageList] nvarchar(4000) NULL
, [GalleryImageList] nvarchar(4000) NULL
, [SourcePage] nvarchar(50) NULL
, [SourceLink] nvarchar(255) NULL
, [ViewTime] int NULL
, [AttachmentFile] nvarchar(4000) NULL
, [Price] float NULL
, [OldPrice] float NULL
, [Promotions] nvarchar(4000) NULL
, [WarrantyPolicy] nvarchar(4000) NULL
, [Specifications] nvarchar(4000) NULL
, [Accessories] nvarchar(4000) NULL
, [Quantity] int NULL
, [Status] bit NULL
, [Position] int NULL
, [CreateTime] datetime NULL
, [CreateBy] nvarchar(50) NULL
, [ProductCategoryID] int NULL
);
GO
CREATE TABLE [ContactCategory] (
  [ContactCategoryID] int IDENTITY (2,1) NOT NULL
, [Code] nvarchar(50) NULL
, [Title] nvarchar(200) NULL
, [Description] nvarchar(4000) NULL
, [Avatar] nvarchar(255) NULL
, [Thumb] nvarchar(255) NULL
, [Status] bit NULL
, [Position] int NULL
, [CreateTime] datetime NULL
, [CreateBy] nvarchar(50) NULL
);
GO
CREATE TABLE [Contact] (
  [ContactID] int IDENTITY (11,1) NOT NULL
, [Code] nvarchar(50) NULL
, [FullName] nvarchar(50) NULL
, [Email] nvarchar(255) NULL
, [Address] nvarchar(255) NULL
, [Mobi] nvarchar(20) NULL
, [Content] ntext NULL
, [AttachmentFile] nvarchar(4000) NULL
, [Status] bit NULL
, [CreateTime] datetime NULL
, [ApproveBy] nvarchar(50) NULL
, [ContactCategoryID] int NULL
);
GO
CREATE TABLE [ArticleMainCategory] (
  [ArticleMainCategoryID] int IDENTITY (11,1) NOT NULL
, [Code] nvarchar(50) NULL
, [Title] nvarchar(200) NULL
, [Description] nvarchar(4000) NULL
, [Avatar] nvarchar(255) NULL
, [Thumb] nvarchar(255) NULL
, [Status] bit NULL
, [Position] int NULL
, [CreateTime] datetime NULL
, [CreateBy] nvarchar(50) NULL
);
GO
CREATE TABLE [ArticleCategory] (
  [ArticleCategoryID] int IDENTITY (39,1) NOT NULL
, [Code] nvarchar(50) NULL
, [Title] nvarchar(200) NULL
, [Description] nvarchar(4000) NULL
, [Avatar] nvarchar(255) NULL
, [Thumb] nvarchar(255) NULL
, [Status] bit NULL
, [Position] int NULL
, [CreateTime] datetime NULL
, [ArticleMainCategoryID] int NULL
, [CreateBy] nvarchar(50) NULL
);
GO
CREATE TABLE [Article] (
  [ArticleID] int IDENTITY (222178,1) NOT NULL
, [Code] nvarchar(50) NULL
, [Title] nvarchar(200) NULL
, [Description] nvarchar(4000) NULL
, [Avatar] nvarchar(255) NULL
, [Thumb] nvarchar(255) NULL
, [Content] ntext NULL
, [Keyword] nvarchar(4000) NULL
, [ImageList] nvarchar(4000) NULL
, [SourcePage] nvarchar(50) NULL
, [SourceLink] nvarchar(255) NULL
, [AttachmentFile] nvarchar(4000) NULL
, [ViewTime] int NULL
, [Status] bit NULL
, [Position] int NULL
, [CreateTime] datetime NULL
, [ArticleCategoryID] int NULL
, [CreateBy] nvarchar(50) NULL
);
GO
INSERT INTO [AccountCategory] ([AccountCategoryID],[Title],[Description],[Avatar],[Thumb],[Status],[Position]) VALUES (
N'Admin',N'Quản trị viên cơ bản',N'Quản trị viên cơ bản được phép thực hiện các thao tác quản trị website',N'/Fileuploads/AccountCategory/cbadb60e-fe2b-4f31-a067-0b49a61344e8.png',N'/Fileuploads/AccountCategory/thumbs/cbadb60e-fe2b-4f31-a067-0b49a61344e8.png',1,1);
GO
INSERT INTO [AccountCategory] ([AccountCategoryID],[Title],[Description],[Avatar],[Thumb],[Status],[Position]) VALUES (
N'SupperAdmin',N'Quản trị cao cấp',N'Quản trị hệ thống có toàn quyền trên hệ thống',N'/Fileuploads/AccountCategory/54a0297f-3415-4d5b-90d8-e15d631e83ab.png',N'/Fileuploads/AccountCategory/thumbs/54a0297f-3415-4d5b-90d8-e15d631e83ab.png',1,1);
GO
INSERT INTO [Account] ([Username],[Password],[Avatar],[Thumb],[FullName],[Email],[Mobi],[Address],[Gender],[Status],[CreateTime],[AccountCategoryID]) VALUES (
N'admin',N'123456',N'/FileUploads/Account/8761ea0b-776c-4504-a845-58d5617d90f4.png',N'/FileUploads/Account/thumbs/8761ea0b-776c-4504-a845-58d5617d90f4.png',N'Lê Minh Hiếu',N'mrhieuit@gmail.com',N'0979 876 678',N'Thủ Dầu Một, Bình Dương',1,1,{ts '2016-01-29 11:01:04.433'},N'SupperAdmin');
GO
SET IDENTITY_INSERT [ProductMainCategory] ON;
GO
INSERT INTO [ProductMainCategory] ([ProductMainCategoryID],[Code],[Title],[Description],[Avatar],[Thumb],[Status],[Position],[CreateTime],[CreateBy]) VALUES (
6,N'',N'Sea-doo',N'',N'/Content/images/background/sea-doo-viet-nam.jpeg',N'/Content/images/logo/sea-doo.png',1,1,{ts '2016-09-23 14:02:48.503'},N'admin');
GO
INSERT INTO [ProductMainCategory] ([ProductMainCategoryID],[Code],[Title],[Description],[Avatar],[Thumb],[Status],[Position],[CreateTime],[CreateBy]) VALUES (
7,N'',N'Can-am',N'',N'/Content/images/background/can-am-off-road-viet-nam.jpg',N'/Content/images/logo/can-am-off-road.png',1,1,{ts '2016-09-23 14:02:48.503'},N'admin');
GO
INSERT INTO [ProductMainCategory] ([ProductMainCategoryID],[Code],[Title],[Description],[Avatar],[Thumb],[Status],[Position],[CreateTime],[CreateBy]) VALUES (
8,N'hide',N'Phụ kiện',N'',N'/Admin/css/img/no_image.jpg',N'/Admin/css/img/no_image.jpg',1,1,{ts '2016-09-23 14:02:48.503'},N'admin');
GO
SET IDENTITY_INSERT [ProductMainCategory] OFF;
GO
SET IDENTITY_INSERT [ProductCategory] ON;
GO
INSERT INTO [ProductCategory] ([ProductCategoryID],[Code],[Title],[Description],[Avatar],[Thumb],[Status],[Position],[CreateTime],[CreateBy],[ProductMainCategoryID]) VALUES (
36,N'',N'SPACK',N'',N'/Admin/css/img/no_image.jpg',N'/Admin/css/img/no_image.jpg',1,1,{ts '2016-09-23 14:03:17.590'},N'admin',6);
GO
INSERT INTO [ProductCategory] ([ProductCategoryID],[Code],[Title],[Description],[Avatar],[Thumb],[Status],[Position],[CreateTime],[CreateBy],[ProductMainCategoryID]) VALUES (
37,N'',N'GTS',N'',N'/Admin/css/img/no_image.jpg',N'/Admin/css/img/no_image.jpg',1,1,{ts '2016-09-23 14:03:17.590'},N'admin',6);
GO
INSERT INTO [ProductCategory] ([ProductCategoryID],[Code],[Title],[Description],[Avatar],[Thumb],[Status],[Position],[CreateTime],[CreateBy],[ProductMainCategoryID]) VALUES (
38,N'',N'GTI',N'',N'/Admin/css/img/no_image.jpg',N'/Admin/css/img/no_image.jpg',1,1,{ts '2016-09-23 14:03:17.590'},N'admin',6);
GO
SET IDENTITY_INSERT [ProductCategory] OFF;
GO
SET IDENTITY_INSERT [Product] ON;
GO
SET IDENTITY_INSERT [Product] OFF;
GO
SET IDENTITY_INSERT [ContactCategory] ON;
GO
INSERT INTO [ContactCategory] ([ContactCategoryID],[Code],[Title],[Description],[Avatar],[Thumb],[Status],[Position],[CreateTime],[CreateBy]) VALUES (
1,N'',N'Thư Liên Hệ',N'',N'/Admin/css/img/no_image.jpg',N'/Admin/css/img/no_image.jpg',1,NULL,{ts '2016-09-30 00:57:34.617'},N'admin');
GO
SET IDENTITY_INSERT [ContactCategory] OFF;
GO
SET IDENTITY_INSERT [Contact] ON;
GO
INSERT INTO [Contact] ([ContactID],[Code],[FullName],[Email],[Address],[Mobi],[Content],[AttachmentFile],[Status],[CreateTime],[ApproveBy],[ContactCategoryID]) VALUES (
1,NULL,N'Lê Minh Hiếu',N'mrhieuit@gmail.com',NULL,N'0987654321',N'Liên hệ cứu NET',NULL,NULL,NULL,NULL,NULL);
GO
INSERT INTO [Contact] ([ContactID],[Code],[FullName],[Email],[Address],[Mobi],[Content],[AttachmentFile],[Status],[CreateTime],[ApproveBy],[ContactCategoryID]) VALUES (
2,NULL,N'Lê Minh Hiếu',NULL,NULL,N'0987654',N'Liên hệ mua hàng',NULL,NULL,NULL,NULL,NULL);
GO
INSERT INTO [Contact] ([ContactID],[Code],[FullName],[Email],[Address],[Mobi],[Content],[AttachmentFile],[Status],[CreateTime],[ApproveBy],[ContactCategoryID]) VALUES (
4,NULL,N'Nguyễn Văn Dũng',N'dung@gmail.com',NULL,N'09876543',N'Quảng Cáo',NULL,0,{ts '2020-06-25 19:30:16.120'},NULL,NULL);
GO
SET IDENTITY_INSERT [Contact] OFF;
GO
SET IDENTITY_INSERT [ArticleMainCategory] ON;
GO
INSERT INTO [ArticleMainCategory] ([ArticleMainCategoryID],[Code],[Title],[Description],[Avatar],[Thumb],[Status],[Position],[CreateTime],[CreateBy]) VALUES (
10,N'',N'Tin Tức',N'',N'/Admin/css/img/no_image.jpg',N'/Admin/css/img/no_image.jpg',1,NULL,{ts '2016-09-24 21:53:35.493'},N'admin');
GO
SET IDENTITY_INSERT [ArticleMainCategory] OFF;
GO
SET IDENTITY_INSERT [ArticleCategory] ON;
GO
INSERT INTO [ArticleCategory] ([ArticleCategoryID],[Code],[Title],[Description],[Avatar],[Thumb],[Status],[Position],[CreateTime],[ArticleMainCategoryID],[CreateBy]) VALUES (
38,N'',N'Tin Tổng Hợp',N'',N'/Admin/css/img/no_image.jpg',N'/Admin/css/img/no_image.jpg',1,NULL,{ts '2016-09-24 21:54:11.610'},10,N'admin');
GO
SET IDENTITY_INSERT [ArticleCategory] OFF;
GO
SET IDENTITY_INSERT [Article] ON;
GO
SET IDENTITY_INSERT [Article] OFF;
GO
ALTER TABLE [AccountCategory] ADD CONSTRAINT [PK_ACCOUNTTYPE] PRIMARY KEY ([AccountCategoryID]);
GO
ALTER TABLE [Account] ADD CONSTRAINT [PK_ACCOUNT] PRIMARY KEY ([Username]);
GO
ALTER TABLE [ProductMainCategory] ADD CONSTRAINT [PK_ProductMainCategory] PRIMARY KEY ([ProductMainCategoryID]);
GO
ALTER TABLE [ProductCategory] ADD CONSTRAINT [PK_ProductCategory] PRIMARY KEY ([ProductCategoryID]);
GO
ALTER TABLE [Product] ADD CONSTRAINT [PK_Product] PRIMARY KEY ([ProductID]);
GO
ALTER TABLE [ContactCategory] ADD CONSTRAINT [PK_ContactCategory] PRIMARY KEY ([ContactCategoryID]);
GO
ALTER TABLE [Contact] ADD CONSTRAINT [PK_Contact] PRIMARY KEY ([ContactID]);
GO
ALTER TABLE [ArticleMainCategory] ADD CONSTRAINT [PK_ARTICLEMAINCATEGORY] PRIMARY KEY ([ArticleMainCategoryID]);
GO
ALTER TABLE [ArticleCategory] ADD CONSTRAINT [PK_ARTICLECATEGORY] PRIMARY KEY ([ArticleCategoryID]);
GO
ALTER TABLE [Article] ADD CONSTRAINT [PK_ARTICLE] PRIMARY KEY ([ArticleID]);
GO
ALTER TABLE [Account] ADD CONSTRAINT [FK_ACCOUNT_ACCOUNTTY_ACCOUNTT] FOREIGN KEY ([AccountCategoryID]) REFERENCES [AccountCategory]([AccountCategoryID]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [ProductMainCategory] ADD CONSTRAINT [FK_ProductMainCategory_Account] FOREIGN KEY ([CreateBy]) REFERENCES [Account]([Username]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [ProductCategory] ADD CONSTRAINT [FK_ProductCategory_Account] FOREIGN KEY ([CreateBy]) REFERENCES [Account]([Username]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [ProductCategory] ADD CONSTRAINT [FK_ProductCategory_ProductMainCategory] FOREIGN KEY ([ProductMainCategoryID]) REFERENCES [ProductMainCategory]([ProductMainCategoryID]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [Product] ADD CONSTRAINT [FK_Product_Account] FOREIGN KEY ([CreateBy]) REFERENCES [Account]([Username]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [Product] ADD CONSTRAINT [FK_Product_ProductCategory] FOREIGN KEY ([ProductCategoryID]) REFERENCES [ProductCategory]([ProductCategoryID]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [ContactCategory] ADD CONSTRAINT [FK_ContactCategory_Account] FOREIGN KEY ([CreateBy]) REFERENCES [Account]([Username]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [Contact] ADD CONSTRAINT [FK_Contact_Account] FOREIGN KEY ([ApproveBy]) REFERENCES [Account]([Username]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [Contact] ADD CONSTRAINT [FK_Contact_ContactCategory] FOREIGN KEY ([ContactCategoryID]) REFERENCES [ContactCategory]([ContactCategoryID]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [ArticleMainCategory] ADD CONSTRAINT [FK_ARTICLEM_ACCOUNT_A_ACCOUNT] FOREIGN KEY ([CreateBy]) REFERENCES [Account]([Username]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [ArticleCategory] ADD CONSTRAINT [FK_ARTICLEC_ACCOUNT_A_ACCOUNT] FOREIGN KEY ([CreateBy]) REFERENCES [Account]([Username]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [ArticleCategory] ADD CONSTRAINT [FK_ARTICLEC_ARTICLEMA_ARTICLEM] FOREIGN KEY ([ArticleMainCategoryID]) REFERENCES [ArticleMainCategory]([ArticleMainCategoryID]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [Article] ADD CONSTRAINT [FK_ARTICLE_ACCOUNT_A_ACCOUNT] FOREIGN KEY ([CreateBy]) REFERENCES [Account]([Username]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO
ALTER TABLE [Article] ADD CONSTRAINT [FK_ARTICLE_ARTICLECA_ARTICLEC] FOREIGN KEY ([ArticleCategoryID]) REFERENCES [ArticleCategory]([ArticleCategoryID]) ON DELETE NO ACTION ON UPDATE NO ACTION;
GO

